* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:active, a:visited {
  text-decoration: none;
  color: rgb(92, 140, 241);
}

.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

input, checkbox, select {
  outline: none;
}

ul li {
  list-style-type: none;
}

::placeholder {
  color: #000;
}